/* VARIABLES */

html {
  font-size: 62.5%;
}
body  {
  font-family: "Avenir", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5em;
    line-height: 1.2em;

}

a {
  text-decoration: none;
  transition: color .7s ease;
  -webkit-transition: color .7s ease;
}

/* from w3.css Are em's or rem's better?*/
p, a {
  font-size: 1.4rem;
}
h1 {
    font-size: 3.6rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2.4rem;
}
h4 {
    font-size: 2rem;
}
h5 {
    font-size: 1.8rem;
}
h6 {
    font-size: 1.6rem;
}
ul {
  font-size: 1.4rem;
}

a:link {
  text-decoration: none;
}

a:hover {
  transition: .5s;
}

a:visited {

}
